html, body {
	background-color: black;
	background-image: url('img/punaiset_tahdet.jpg');
	font-family: 'Orbitron', sans-serif;
	height: 100%;
	color: white;
	font-size: 14px;
}

a, a:hover, a:focus {
	color: white;
	text-decoration: none;
}

p, form, .success-message {
	margin-bottom: 20px;
}

h2 {
	border-bottom: 1px solid #ff6533;
	margin-bottom: 20px;
}

#pointer-wrapper {
	margin-top: 30px;
	margin-left: 15px;
}

.fading-bg {
	position: fixed;
	height: 100%;
	width: 100%;

	background-image: linear-gradient(
		to right,
		transparent,
		rgba(30,0,0,0.5) 20%, 
		rgba(30,0,0,0.5) 60%,
		transparent
	);
}

.eye {
	background-image: url('img/eye_redbg.png');
	background-repeat: no-repeat;
	background-position: top right;
	opacity: .5;
	z-index: 0;
	
	position: absolute;
	top: 200px;
	height: 100%;
	width: 100%;
}
@media (max-width: 768px) {
	.eye {
		display: none;
	}
}

@media (min-width: 768px) {
	#content-wrapper {
		background-size: 100% auto;
	}

}

.text-bg-wrapper {
	display: table;
	position: relative;
	width: 100%;
}

.text-bg {
	background: linear-gradient(
		to right,
		transparent,
		rgba(30, 0, 0, 0.5) 10%,
		rgba(30, 0, 0, 0.5) 80%,
		transparent
	);
}

/* nav links */

.nav-pointers a {
	padding-top: 20px;
	background-image: linear-gradient(
		transparent,
		rgba(50,0,0, 0.5) 20%,
		transparent 60%
	);

	text-transform: uppercase;
	display: block;
	float: left;
	font-size: 16px;
	letter-spacing: 1px;
}

	.nav-pointers * {
		transition: all 0.2s ease-in-out;
	}
	.pointer-lines svg polyline {
		fill: none;
		stroke: #fff;
		stroke-width: 1;
	}

	.pointer-lines svg circle {
		fill: #ff6533;
	}

/* active */
.nav-pointers a.active {

}
	.nav-pointers .active .pointer-lines svg polyline {
		stroke: #ff6533;
	}

/* nav hover */

.nav-pointers a:hover, .nav-pointers a:focus {
	color: #ff6533;
}
	.nav-pointers a:hover .pointer-lines svg polyline {
		/*stroke: #ff6533;*/
	}
	.nav-pointers a:hover .pointer-lines svg circle {
		/*fill: #f00;*/
	}


.red {
	color: #ff5e28;
}

.copper {
	color: #ff9965;
}

.page-top-margin {
	margin-top: 30px;
}

#title {
	margin-bottom: 50px;
}

#title2 img {
	width: 100%;
}

@media (min-width: 768px) {
	#title2 img {
		margin-left: 5%;
		width: 80%;
	}
}

#text-container {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 0;
	padding-bottom: 30px;

	word-spacing: 0.2em;
	letter-spacing: 2px;
	font-size: 12px;
	line-height: 20px;
}


.text-content {
	display: none;
}
	.text-content a {
		text-decoration: none;
		border-bottom: 1px solid #ff9965;
		color: #ff9965;
		transition: all 0.1s ease-in-out;
	}
	.text-content a:hover {
		color: #fff;
	}

.active-text {
	display: block;
}

form {
	padding-left: 0px !important;
}

form input, form textarea {
	margin-bottom: 5px;
}

form textarea {
	min-height: 7em;
}

.form-title {
	margin-bottom: 7px;
	font-size: 0.8em;
}

.btn-red {
  background-color: #ff5e28;
  border-color: #ff5e28;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  background-color: #fb5118;
  background-image: -moz-linear-gradient(top,#ff5e28,#f43d00);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#ff5e28),to(#f43d00));
  background-image: -webkit-linear-gradient(top,#ff5e28,#f43d00);
  background-image: -o-linear-gradient(top,#ff5e28,#f43d00);
  background-image: linear-gradient(to bottom,#ff5e28,#f43d00);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffff5e28', endColorstr='#fff33d00', GradientType=0);
  border-color: #f43d00 #f43d00 #a82a00;
  border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
}
.btn-red:hover,
.btn-red:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position .1s linear;
  -moz-transition: background-position .1s linear;
  -o-transition: background-position .1s linear;
  transition: background-position .1s linear;
}
.btn-red:hover,
.btn-red:focus {
  color: white;
  background-color: #f43d00;
}
.btn-red:active,
.btn-red.active,
.btn-red.active:hover {
  background-color: #ff4b0f;
  border-color: #f43d00;
}
.btn-red.disabled:hover,
.btn-red.disabled:focus,
.btn-red.disabled:active,
.btn-red.disabled.active,
.btn-red[disabled] .btn-red:hover,
.btn-red[disabled] .btn-red:focus,
.btn-red[disabled] .btn-red:active,
.btn-red[disabled] .btn-red.active {
  background-color: #ff5e28;
  border-color: #ff5e28;
}

.sponsors-images {
	text-align: center;
	margin-bottom: 100px;
}
.sponsors-images img {
	padding: 10px 30px;
}
.vastaava-tuottaja {
	width: 100%;
	clear: both;
	text-align: center;
	margin-top: 20px;
}

h4 {
	margin-top: 50px;
	text-transform: uppercase;
	font-size: 12px;
	color: #fff;
}

h5 {
	text-transform: uppercase;
	font-size: 10px;
	color: #966;
	text-shadow: #600 -1px -1px;
}